<div class="card">
    <h5 class="card-header">Website overview</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center text-bg-light">
                    <div class="card-body dash-box">
                        <h2><i class="bi bi-person-fill"></i> 1 </h2>
                        <h4>Users</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center text-bg-light">
                    <div class="card-body">
                        <h2><i class="bi bi-file-text"></i> {{artCount$ | async}} </h2>
                        <h4>Pages</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center text-bg-light">
                    <div class="card-body">
                        <h2><i class="bi bi-pen"></i> 2</h2>
                        <h4>Posts</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center text-bg-light">
                    <div class="card-body">
                        <h2><i class="bi bi-graph-up"></i> 12,123 </h2>
                        <h4>Visitors</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <h5 class="card-header">Latest Users</h5>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Joined</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Will Smith</th>
                    <th>smith@gmail.com</th>
                    <th>12-02-2022</th>
                </tr>
                <tr>
                    <th>Ewa Green</th>
                    <th>egreen@gmail.com</th>
                    <th>10-05-2021</th>
                </tr>
                <tr>
                    <th>John Doe</th>
                    <th>doe@gmail.com</th>
                    <th>01-01-2021</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>